<!DOCTYPE html>
<html>

<head>
	<title>departments</title>
	<link rel="stylesheet" href="/static/departments_page_style.css">
</head>

<body>
	<h1>Отделы</h1>
	<table border="1">
		<tr>
			<th>Код отдела</th>
			<th>Наименование отдела</th>
			<th>Наименование вышестоящего отдела</th>
		</tr>
		{{range .Departments}}
		<tr>
			<td>{{.Department_Id}}</td>
			<td>{{.Department_Name}}</td>
			<td>{{.Managment_Id}}</td>
		</tr>
		{{end}}
	</table>
	<br>
	<h2>Добавить новый отдел</h2>
	<form action="/add_departments" method="POST">
		<label for="Department_Name">Наименование:</label>
		<input type="text" id="Department_Name" name="Department_Name" required><br>

		<!-- <label for="Managment_Id">Вышестоящие отделы:</label>
		<input type="text" id="Managment_Id" name="Managment_Id" required><br> -->

		<label for="Managment_Id">Вышестоящий отдел:</label>
		<select id="Managment_Id" name="Managment_Id" required>
			<option value=""></option>
			{{range .Managments}}
			<option value="{{.Managment_Name}}">{{.Managment_Name}}</option>
			{{end}}
		</select><br>
		<br>
		<input type="submit" value="Добавить отдел">
	</form>

	<button onclick="history.back()">Назад</button>
</body>

</html>