<!DOCTYPE html>
	<html>
		<head>
			<title>departments</title>
            <!-- <link rel="stylesheet" href="/static/employees_page_style.css"> -->
		</head>
		<body>
			<h1>Employees List</h1>
			<table border="1">
				<tr>
					<th>Employee_id</th>
					<th>First_Name</th>
					<th>Last_Name</th>
					<th>Email</th>
					<th>Password</th>
					<th>Department_Id</th>
					<th>Hired_Date</th>
				</tr>
				{{range .Employees}}
				<tr>
					<td>{{.Employee_Id}}</td>
					<td>{{.First_Name}}</td>
					<td>{{.Last_Name}}</td>
					<td>{{.Email}}</td>
					<td>{{.Password}}</td>
					<td>{{.Department_Id}}</td>
					<td>{{.Hired_Date}}</td>
				</tr>
				{{end}}
			</table>
			<br>
			<h2>Add New Employees</h2>
			<form action="/add_employees" method="POST">
				<label for="First_Name">First Name:</label>
				<input type="text" id="First_Name" name="First_Name" required><br>
				<label for="Last_Name">Last Name:</label>
				<input type="text" id="Last_Name" name="Last_Name" required><br>
				<label for="Email">Email:</label>
				<input type="text" id="Email" name="Email" required><br>
				<label for="Password">Password:</label>
				<input type="text" id="Password" name="Password" required><br>

				<label for="Department_Id">Department:</label>
				<select id="Department_Id" name="Department_Id" required>
					<option value=""></option>
					{{range .Departments}}
						<option value="{{.Department_Id}}">{{.Name}}</option>
					{{end}}
				</select><br>


				<label for="Hired_Date">Hired Date:</label>
				<input type="text" id="Hired_Date" name="Hired_Date" required><br>
				<input type="submit" value="Add employees">
			</form>
			<form action="http://localhost:8080/" method="get" style="display:inline;">
				<button type="submit">Main</button>
			</form>
		</body>
	</html>
