<!DOCTYPE html>
<html>

<head>
	<title>employees</title>
	<link rel="stylesheet" href="/static/employees_page_style.css">
</head>

<body>
	<h1>Сотрудники</h1>
	<table border="1">
		<tr>
			<th>Код сотрудника</th>
			<th>Фамилия</th>
			<th>Имя</th>
			<th>Отчество</th>
			<th>Логин</th>
			<th>Пароль</th>
			<th>Отдел</th>
			<th>Должность</th>
		</tr>
		{{range .Employees}}
		<tr>
			<td>{{.Employee_Id}}</td>
			<td>{{.Last_Name}}</td>
			<td>{{.First_Name}}</td>
			<td>{{.Patronymic}}</td>
			<td>{{.Email}}</td>
			<td>{{.Password}}</td>
			<td>{{.Department_Id}}</td>
			<td>{{.Position_id}}</td>
		</tr>
		{{end}}
	</table>
	<br>
	<h2>Добавить нового сотрудника</h2>
	<form action="/add_employees" method="POST">
		<label for="First_Name">First Name:</label>
		<input type="text" id="First_Name" name="First_Name" required><br>
		<label for="Last_Name">Last Name:</label>
		<input type="text" id="Last_Name" name="Last_Name" required><br>
		<label for="Last_Name">Patronymic:</label>
		<input type="text" id="Last_Name" name="Last_Name" required><br>
		<label for="Email">Email:</label>
		<input type="text" id="Email" name="Email" required><br>
		<label for="Password">Password:</label>
		<input type="text" id="Password" name="Password" required><br>

		<label for="Department_Id">Department:</label>
		<select id="Department_Id" name="Department_Id" required>
			<option value=""></option>
			{{range .Departments}}
			<option value="{{.Department_Id}}">{{.Department_Name}}</option>
			{{end}}
		</select><br>

		<label for="Position_Id">Positions:</label>
		<select id="Position_Id" name="Position_Id" required>
			<option value=""></option>
			{{range .Positions}}
			<option value="{{.Position_Id}}">{{.Position_Name}}</option>
			{{end}}
		</select><br>
		<br>
		<input type="submit" value="Add employees">
	</form>

	<button onclick="history.back()">Назад</button>
</body>

</html>