<!DOCTYPE html>
		<html>
		<head>
			<!-- <link rel="stylesheet" href="/static/main_page_style.css"> -->
		</head>
		<body>
			<h1>Добро пожаловать!</h1>
			<p>Выберите таблицу, нажав на кнопку ниже:</p>
			<form action="http://localhost:8080/departments" method="get" style="display:inline;">
				<button type="submit">departments</button>
			</form><br>
			<form action="http://localhost:8080/employees" method="get" style="display:inline;">
				<button type="submit">employees</button>
			</form><br>
			<form action="http://localhost:8080/files" method="get" style="display:inline;">
				<button type="submit">files</button>
			</form><br>
			<form action="http://localhost:8080/history_base" method="get" style="display:inline;">
				<button type="submit">history base</button>
			</form><br>
			<form action="http://localhost:8080/statuses" method="get" style="display:inline;">
				<button type="submit">statuses</button>
			</form><br>
			<form action="http://localhost:8080/task_assignees" method="get" style="display:inline;">
				<button type="submit">task assignees</button>
			</form><br>
			<form action="http://localhost:8080/task_comments" method="get" style="display:inline;">
				<button type="submit">task comments</button>
			</form><br>
			<form action="http://localhost:8080/task_history" method="get" style="display:inline;">
				<button type="submit">task history</button>
			</form><br>
			<form action="http://localhost:8080/tasks" method="get" style="display:inline;">
				<button type="submit">tasks</button>
			</form><br>
		</body>
		</html>