<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="/static/main_page_style.css">
</head>

<body>
	<h1>Администратор, добро пожаловать!</h1>
	<p>Выберите таблицу, нажав на кнопку ниже:</p>

	<div class="form-container">
		<form action="http://localhost:8080/managments" method="get">
			<button type="submit">managments</button>
		</form>

		<form action="http://localhost:8080/departments" method="get">
			<button type="submit">departments</button>
		</form>

		<form action="http://localhost:8080/positions" method="get">
			<button type="submit">positions</button>
		</form>

		<form action="http://localhost:8080/employees" method="get">
			<button type="submit">employees</button>
		</form>

		<form action="http://localhost:8080/statuses" method="get">
			<button type="submit">statuses</button>
		</form>

		<form action="http://localhost:8080/tasks" method="get">
			<button type="submit">tasks</button>
		</form>

		<form action="http://localhost:8080/task_assignees" method="get">
			<button type="submit">task assignees</button>
		</form>

		<form action="http://localhost:8080/task_comments" method="get">
			<button type="submit">task comments</button>
		</form>

		<form action="http://localhost:8080/files" method="get">
			<button type="submit">files</button>
		</form>

		<form action="http://localhost:8080/history_base" method="get">
			<button type="submit">history base</button>
		</form>

		<form action="http://localhost:8080/" method="get">
			<button type="submit" class="last-button">authorization</button>
		</form>
	</div>
</body>


</html>