<!DOCTYPE html>
<html>

<head>
	<title>managments</title>
	<link rel="stylesheet" href="/static/managments_page_style.css">
</head>

<body>
	<h1>Managments List</h1>
	<table border="1">
		<tr>
			<th>Managment_Id</th>
			<th>Managment_Name</th>
		</tr>
		{{range .}}
		<tr>
			<td>{{.Managment_Id}}</td>
			<td>{{.Managment_Name}}</td>
		</tr>
		{{end}}
	</table>
	<br>
	<form action="http://localhost:8080/main" method="get" style="display:inline;">
		<button type="submit">main</button>
	</form>
</body>

</html>