<!DOCTYPE html>
<html>

<head>
	<title>positions</title>
	<link rel="stylesheet" href="/static/positions_page_style.css">
</head>

<body>
	<h1>Positions List</h1>
	<table border="1">
		<tr>
			<th>Position_Id</th>
			<th>Position_Name</th>
		</tr>
		{{range .}}
		<tr>
			<td>{{.Position_Id}}</td>
			<td>{{.Position_Name}}</td>
		</tr>
		{{end}}
	</table>
	<br>
	<form action="http://localhost:8080/" method="get" style="display:inline;">
		<button type="submit">main</button>
	</form>
</body>

</html>