<!DOCTYPE html>
<html>

<head>
	<title>positions</title>
	<link rel="stylesheet" href="/static/positions_page_style.css">
</head>

<body>
	<h1>Должности</h1>
	<table border="1">
		<tr>
			<th>Код должности</th>
			<th>Должность</th>
		</tr>
		{{range .}}
		<tr>
			<td>{{.Position_Id}}</td>
			<td>{{.Position_Name}}</td>
		</tr>
		{{end}}
	</table>
	<br>
	<h2>Добавить новую должность</h2>
	<form action="/add_positions" method="POST">
		<label for="Position_Name">Наименование:</label>
		<input type="text" id="Position_Name" name="Position_Name" required><br>

		<input type="submit" value="Добавить должность">
	</form>
	<button onclick="history.back()">Назад</button>
</body>

</html>