<!DOCTYPE html>
<html>

<head>
	<title>tasks</title>
	<link rel="stylesheet" href="/static/tasks_page_style.css">
</head>

<body>
	<h1>Задачи</h1>
	<table border="1">
		<tr>
			<th>Код задачи</th>
			<th>Наименование</th>
			<th>Описание</th>
			<th>Статус</th>
			<th>Создатель</th>
			<th>Дата создания</th>
			<th>Дедлайн</th>
		</tr>
		{{range .Tasks}}
		<tr>
			<td>{{.Task_Id}}</td>
			<td>{{.Title}}</td>
			<td>{{.Description}}</td>
			<td>{{.Status}}</td>
			<td>{{.Created_By}}</td>
			<td>{{.Created_At}}</td>
			<td>{{.Due_Date}}</td>
		</tr>
		{{end}}
	</table>
	<br>
	<h2>Добавить новую задачу</h2>
	<form action="/add_tasks" method="POST">
		<label for="Title">Наименование:</label>
		<input type="text" id="Title" name="Title" required><br>
		<label for="Description">Описание:</label>
		<input type="text" id="Description" name="Description" required><br>

		<label for="Status">Статус:</label>
		<select id="Status" name="Status" required>
			<option value=""></option>
			{{range .Statuses}}
			<option value="{{.Status_Id}}">{{.Status_Name}}</option>
			{{end}}
		</select><br>

		<label for="Created_By">Создатель:</label>
		<select id="Created_By" name="Created_By" required>
			<option value=""></option>
			{{range .Employees}}
			<option value="{{.Employee_Id}}">{{.Last_Name}}</option>
			{{end}}
		</select><br>
		<label for="Due_Date">Дедлайн:</label>
		<input type="text" id="Due_Date" name="Due_Date" required><br>
		<br>
		<input type="submit" value="Добавить задачу">
	</form>

	<button onclick="history.back()">Назад</button>
</body>

</html>