<!DOCTYPE html>
		<html>
		<head>
			<title>task_history</title>
            <!-- <link rel="stylesheet" href="/static/task_history_page_style.css"> -->
		</head>
		<body>
			<h1>Task History List</h1>
			<table border="1">
				<tr>
					<th>History_Id</th>
					<th>Task_Id</th>
					<th>Action_Time</th>
					<th>Action_Description</th>
					<th>Performed_By</th>
				</tr>
				{{range .}}
				<tr>
					<td>{{.History_Id}}</td>
					<td>{{.Task_Id}}</td>
					<td>{{.Action_Time}}</td>
					<td>{{.Action_Description}}</td>
					<td>{{.Performed_By}}</td>
				</tr>
				{{end}}
			</table>
			<br>
			<form action="http://localhost:8080/" method="get" style="display:inline;">
				<button type="submit">main</button>
			</form>
		</body>
		</html>