body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 20px 40px;
    color: #333;
}

h1 {
    color: #4a90e2;
    margin-bottom: 20px;
    font-size: 2.5em;
    text-align: center;
}

h2 {
    color: #333;
    margin-top: 40px;
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

table th, table td {
    border: 1px solid #ddd;
    padding: 12px;
    font-size: 1em;
    text-align: left; 
}

table th {
    background-color: #4a90e2;
    color: white;
    font-weight: bold;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #eaf4fc;
}

table td.number {
    text-align: right;
}

table td.date {
    text-align: center;
}

table td.text {
    text-align: left;
}

button {
    background-color: #4a90e2;
    color: white;
    border: none;
    padding: 12px 25px;
    font-size: 1.1em;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    width: 250px; /* Фиксированная ширина кнопок */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: #357ab7;
    transform: scale(1.05);
}

button:active {
    background-color: #2b6291;
    transform: scale(1);
}

.last-button {
    background-color: #d9534f;
    color: white;
    padding: 15px 30px;
    font-size: 1.2em;
    border-radius: 10px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.last-button:hover {
    background-color: #c9302c;
    transform: scale(1.1);
}

.last-button:active {
    background-color: #ac2925;
    transform: scale(1);
}

.form-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 40px;
}

.exit-button-container {
    width: 100%;
    margin-top: 40px;
    text-align: center;
}

p {
    font-size: 1.2em;
    text-align: center;
    margin-bottom: 20px;
}
